@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.requirements::before {
  content: "!";
  display: inline;
  align-items: center;
  margin-right: 5px;
  color: #e2999b;
}

.modal::before {
  content: "";
  position: absolute;
  top: -10px;
  right: 25px;
  width: 20px;
  height: 20px;
  border-top: 8px solid #296ca6;
  border-left: 8px solid #296ca6;
  background-color: #296ca6;
  transform: rotate(45deg);
}

.nav-icon {
  @apply m-3 py-1 cursor-pointer transition duration-300 text-white hover:text-[#BF6597];
}

.nav-li {
  @apply flex items-center h-[60px] px-4  transition duration-300 hover:text-[#BF6597] hover:bg-[#1c365b];
}

.nav-link {
  @apply m-2 transition duration-300;
}

.ul-li {
  @apply mt-[4px] text-[14px] text-[white] hover:text-[#BF6597];
}

.ul-span {
  @apply block mb-3 text-[14px] font-bold text-[white] cursor-default;
}

.social-link {
  @apply p-[15px] my-4 cursor-pointer;
}

.social-link-span {
  @apply ml-5 font-bold;
}

.requirements {
  @apply text-[13px] text-white;
}

.modal {
  @apply absolute w-[360px] bg-[#296CA6] transform translate-x-[-157px] translate-y-[60px] z-20;
}
