@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.requirements::before {
  content: "!";
  display: inline;
  align-items: center;
  margin-right: 5px;
  color: #e2999b;
}

.modal::before {
  content: "";
  position: absolute;
  top: -10px;
  right: 25px;
  width: 20px;
  height: 20px;
  background-color: #296ca6;
  transform: rotate(45deg);
}

.nav-icon {
  @apply m-3 py-1 cursor-pointer transition duration-300 text-white hover:text-headerHover;
}

.nav-li {
  @apply flex items-center h-[60px] px-4  transition duration-300 hover:text-headerHover hover:bg-tertiaryColor;
}

.nav-link {
  @apply m-2 transition duration-300;
}

.ul-li {
  @apply mt-[4px] text-[14px] text-[white] hover:text-headerHover;
}

.ul-span {
  @apply block mb-3 text-[14px] font-bold text-[white] cursor-default;
}

.social-link {
  @apply p-[15px] my-4 cursor-pointer;
}

.social-link-span {
  @apply ml-5 font-bold;
}

.requirements {
  @apply text-[13px] text-white;
}

.modal {
  @apply absolute w-[360px] transform top-6 z-20 translate-x-[-157px] translate-y-[65px] bg-primaryColor;
}

.scrollbar::-webkit-scrollbar {
  overflow-x: hidden;
  height: 8px;
}

.scrollbar:hover::-webkit-scrollbar {
  overflow-x: scroll;
  height: 8px;
}

.scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 14px;
}

.scrollbar:hover::-webkit-scrollbar-track {
  background: #5389b7;
  border-radius: 5px;
}

.scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 14px;
}
