@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.requirements::before {
  content: "!";
  display: inline;
  align-items: center;
  margin-right: 5px;
  color: #e2999b;
}

.requirements {
  @apply text-[13px] text-white;
}

.input {
  @apply bg-inputBackgroundColor w-[100%] p-[15px];
}

.transition-animation {
  @apply transition duration-300;
}

.input:hover {
  @apply bg-secondaryColor cursor-pointer;
}

.input:focus {
  @apply bg-secondaryColor cursor-pointer;
}

.nav-icon {
  @apply h-[35px] w-[35px] m-[6px] py-1 cursor-pointer transition-animation text-white hover:text-headerHover;
}

.nav-li {
  @apply flex items-center h-[60px] px-4 transition-animation hover:text-headerHover hover:bg-tertiaryColor;
}

.nav-link {
  @apply m-2 transition-animation;
}

.social-link {
  @apply flex items-center p-[15px] my-4 cursor-pointer transition-animation;
}

.sidebar-li {
  @apply flex items-center justify-between h-[50px] w-full px-[20px] text-[16px] font-[600] border-b-[2px] border-secondaryColor cursor-pointer;
}

.ul-li {
  @apply mt-[4px] text-[14px] text-[white] hover:text-headerHover;
}

.ul-span {
  @apply block mb-3 text-[14px] font-bold text-[white] cursor-default;
}

.social-link-span {
  @apply ml-5 font-bold;
}

.checkout-status-step {
  @apply w-[24px] h-[24px] mr-[8px] rounded-full;
}

.checkout-status:nth-of-type(1),
.checkout-status:nth-of-type(2) {
  @apply flex items-center flex-1 px-[4px];
}

.checkout-status:nth-of-type(3) {
  @apply flex items-center px-[4px];
}

.cart-modal {
  @apply fixed md:absolute w-full sm:w-[360px] h-full md:h-auto top-0 right-0 z-20 transform md:translate-y-[65px] bg-primaryColor;
}

.cart-modal::before {
  content: "";
  position: absolute;
  top: -10px;
  right: 25px;
  width: 20px;
  height: 20px;
  background-color: #245f92;
  transform: rotate(45deg);
}

.sort-modal::before {
  content: "";
  position: absolute;
  top: -4px;
  right: 6px;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  transform: rotate(45deg);
}

.profile-modal {
  @apply fixed md:absolute w-full sm:w-[290px] h-full md:h-auto top-0 right-[4px] z-20 transform bg-[#ffffff];
}

.profile-modal::before {
  content: "";
  position: absolute;
  top: -10px;
  right: 20px;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  transform: rotate(45deg);
}

.scrollbar::-webkit-scrollbar {
  overflow-x: hidden;
  height: 8px;
}

.scrollbar:hover::-webkit-scrollbar {
  overflow-x: scroll;
  height: 8px;
}

.scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 14px;
}

.scrollbar:hover::-webkit-scrollbar-track {
  background: #5389b7;
  border-radius: 5px;
}

.scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 14px;
}

.scrollbar-filters-modal::-webkit-scrollbar {
  overflow-y: scroll;
  width: 6px;
}

.scrollbar-filters-modal::-webkit-scrollbar-thumb {
  overflow-y: scroll;
  background-color: #ffffff;
}

.scrollbar-filters-selected-filters::-webkit-scrollbar {
  display: none;
}

.rating-star {
  font-size: 24px;
  color: gold;
  margin-right: 2px;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-stroke: 1px gold;
}

.filled {
  background: linear-gradient(to right, gold 100%, transparent 100%);
  -webkit-text-stroke: 1px gold;
  -webkit-background-clip: text;
  color: transparent;
}

.empty {
  color: transparent;
  -webkit-text-stroke: 1px gold;
}

.rating-star::before {
  content: "\2605";
}

.rating-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 6px;
  margin: -12px 0 0 0;
}

.rating-label {
  font-size: 38px;
  color: #d3d3d3;
  cursor: pointer;
  transition: color 0.3s ease;
}

.rating-label:hover,
.rating-label:hover ~ .rating-label {
  color: gold;
}

input::placeholder {
  margin-left: 10px;
}

input[type="radio"]:checked ~ .rating-label {
  color: gold;
}

input[type="radio"] {
  display: none;
}

input[type="checkbox"] {
  display: flex;
  align-items: center;
  justify-items: center;
  appearance: none;
  min-height: 18px;
  min-width: 18px;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid #ffffffd4;
}

input[type="checkbox"]:hover::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("/images/check.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: appear 0.3s ease-in-out;
}

input[type="checkbox"]:checked {
  background-color: #e2999b;
  color: #f3bfc7;
  background-image: url("/images/check.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
